/**
 * Colors: Palette
 * -------------------------------------------------------------------------- */
 :root {
  --vp-u-green-1: #7eca56;
  --vp-u-green-2: #9fd35a;
  --vp-u-green-3: #6db347;
  --vp-u-green-soft: rgba(126, 202, 86, 0.14);
}
/**
 * Colors: Function
 * -------------------------------------------------------------------------- */
 :root {
  --vp-c-brand-1: var(--vp-u-green-1);
  --vp-c-brand-2: var(--vp-u-green-2);
  --vp-c-brand-3: var(--vp-u-green-3);
  --vp-c-brand-soft: var(--vp-u-green-soft);
}

